<form action="/answer" method="get" data-turbo="false" class="form-inline">
  <div class="form-group">
    <input type="text" name="question" placeholder="Ask your question..." class="form-control mr-2">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
